Ans.1.
True and false are the two values which we get in Boolean data type. These value can be achieved/return either by using bool() function or by some comparison.

In [3]:
a=6
b=8
print(a>b)

False

In [5]:
print(b>a)

True

Ans.2
Three different types of Boolean operators are AND, OR and NOT

Ans.3.

Boolean operator's Truth Tables

1. AND operator
                                      

true and true return true               

true and false returns false          

false and true returns false          

false and false returns false 

if we talk about the result of evaluation then the table can be given as:

True=1, false=0

a    b    output

1    1      1 

1    0      0

0    1      0

0    0      0

2. OR operator

true or true returns true             

true or false returns true            

false or true returns true           

false or false returns false          

a    b    output

1    1      1

1    0      1

0    1      1

0    0      0

3. NoT operator                       

not true returns false                             

not false returns true                

a     output

1       0

0       1

Ans.4.

In [3]:
(5 > 4) and (3 == 5)

False

In [4]:
not(5>4)

False

In [5]:
(5>4) or (3==5)

True

In [6]:
not((5>4) or (3==5))

False

In [8]:
(True and True) and (True==False)

False

In [9]:
(not False) or (not True)

True

Ans.5.
Six comparison operators: 
1. == (Equal to)
2. != (not equal to)
3. <  (less than)
4. >  (greater than)
5. <= (less than equal to)
6. >= (greater than equal to)

Ans.6.
equal to(==) is a boolean operator which is used to compare two values, whereas assignment operator(=) is used to assign values in a variable.ex as follows

In [11]:
# equal to(==)
a=56
b=60
print(a==b)
# a=56, so, 'a' has been assigned a value of 56
# a==b, here the values of the two are compared and the output is shown

False

In [13]:
print(a)

56

In [15]:
#Ans.7.
spam=0
#block 1
if spam ==10:
    print('eggs')
#block 2
if spam > 5:
    print('bacon')
#block 3
else:
    print('ham')
    print('spam')
    print('spam')
# value of 'spam' will be checked against each staement and return it is true.

ham
spam
spam

In [1]:
spam = int(input())
if spam== 1:
    print('hello')
elif spam== 2:
    print('howdy')
else:
    print('Greetings!')

2
howdy

ans.8.
ctrl+c can be pressed to come out of an endless loop.

Ans.9.
'break' statement breaks the loop, while 'continue' statement take back to the start of loop. ex:

In [10]:
#Ans.10-How can you tell the difference between break and continue?
a= [1,2,3,4,5,6]
for i in a:
    if i==3:
        break
    print(i)

1
2

In [19]:
for i in a:
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [20]:
# Ans.11-In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(0,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

Thus, we get same values if used a for loop to range(10) or range(0,10) or range(0,10,1).

range(10) means 10 values staring from zero

range(0,10) means value will start from 0 and will go upto 10 values except 10, so the strting point can be changed by replacing the '0' in range(0,10) and the ending point will remain upto 10 except 10.

range(0,10,1) means value starts from 0 will go upto 10 except 10 with an increment of 1 in previous value. so if we replace '1' by another value, the increment will also change.

In [4]:
#Ans.12-Write a short program that prints the numbers 1 to 10 using a for loop. 
#Then write an equivalent program that prints the numbers 1 to 10 using a while loop.
for i in range(1,20):
    if i<=10:        
        print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
a=1
while  a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

#Ans.13-If you had a function named bacon() inside a module named spam, how would you call it after importing spam?
it can be called by spam.bacon().